.row.top_row
  .col-sm-6.user_att
    %h2= @user.email
    - if @user.avatar_file_name
      = image_tag @user.avatar.url(:thumb)
  .col-sm-6
    = link_to 'Logout', log_out_path, class: ['btn', 'btn-danger', 'logout_btn']
  .row
    = link_to 'Add Photo', new_user_photo_path(@user), class: ['btn', 'btn-success', 'add_photo_btn']
%br/
%br/
%br/
%br/
%br/
%br/
%br/
= link_to 'Followers', new_user_follow_path(@user), class: ['btn', 'btn-success']
%br/
%br/
%br/
.row
  - @photos.each  do |photo|
    .well.col-sm-4
      %b
        = photo.title
      %br
      = image_tag photo.image.url(:medium)
      = form_for @tag do |f|
        = f.hidden_field :photo_id, value: photo.id
        = f.collection_select :user_id, @users, :id, :email
        = f.submit "Tag User"
        = photo.created_at
        = link_to 'Delete', user_photo_path(photo_id: photo.id, user_id: photo.user_id), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger'], style: 'float: right'
      - photo.tags.each do |tag|
        = tag.user.email
      %br
      - @comments.each do |d|
        - if d.photo_id == photo.id
          = "#{d.user.email}: #{d.comment}"
          %br
      = form_for([@user, @comment]) do |f|
        = f.hidden_field :photo_id, value: photo.id
        = f.text_field :comment
        = f.submit "Comment"