.row.top_row
  .col-sm-6.user_att
    %h2= @user.email
    - if @user.avatar_file_name
      = image_tag @user.avatar.url(:thumb)
  .col-sm-6
    = link_to 'Logout', log_out_path, class: ['btn', 'btn-danger', 'logout_btn']
  .row
    = link_to 'Add Photo', new_user_photo_path(@user), class: ['btn', 'btn-success', 'add_photo_btn']
  .row
    = link_to 'Followers', new_user_follow_path(@user), class: ['btn', 'btn-info', 'add_followers_btn']
%br/
%br/
%br/
%br/
%br/
%br/
.row{:id => "feed"}
  - @links.each  do |link|
    - photos = link.photos.sort.reverse
    - if photos.size != 0
      - if link.email == @user.email
        %h1 My photos
      - else
        %h1
          = "#{link.email}'s photos"
      .well.col-sm-4{:id => link.id, :style => "float: inherit; margin: auto"}
        %h1{:id => "caption"}
          = link.photos[link.photos.length-1].title
        = image_tag link.photos[link.photos.length-1].image.url(:medium), :id => "slide", :href => user_comment_path(@user, link.photos[link.photos.length-1])
        = image_tag link.photos[link.photos.length-1].image.url(:medium), :id => "firstimage", :hidden => ""
        %h2{:id => "firstcaption", :caption => link.photos[link.photos.length-1].title, :hidden => ""}
        %h2{:id => "counter", :counter => "-1", :hidden => ""}
        #slides
          - photos.each do |photo|
            - if photo.image.url != link.photos[link.photos.length-1].image.url
              = image_tag photo.image.url(:medium), :hidden => 1, :alt => photo.title
